[Unit]
Description=Stiga Monitor Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/stiga-api/tools/stiga-monitor.js --monitor --capture --webstatus=3001/password --persist --persist-days=24 --background
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

